.root {
  --spinner-size-xs: 18px;
  --spinner-size-sm: 22px;
  --spinner-size-md: 36px;
  --spinner-size-lg: 44px;
  --spinner-size-xl: 58px;
  --spinner-size: var(--spinner-size-md);
  --spinner-color: var(--mantine-primary-color-filled);
  --spinner-stroke-linecap: round;
  --spinner-timing-function: ease;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.line {
  opacity: 0;
  transform-origin: center;
  stroke-linecap: var(--spinner-stroke-linecap);
  animation-name: fade;
  animation-timing-function: var(--spinner-timing-function);
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  animation-duration: var(--spinner-animation-duration, 1s);
}
