.root {
  --spinner-stroke-linecap: round;
  --spinner-timing-function: ease;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.line {
  opacity: 0;
  transform-origin: center;
  stroke-linecap: var(--spinner-stroke-linecap);
  animation-name: fade;
  animation-timing-function: var(--spinner-timing-function);
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  animation-duration: var(--spinner-animation-duration, 1s);
}
